.body__container {
  padding: 30px;
  height: calc(100vh - 94px);
  overflow-y: overlay;
  /* width: 100%; */
  color: white;
  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  background-color: rgb(91, 87, 115);
  flex: .8;
}
body::-webkit-scrollbar {
  display: none;
}
