.copy__container {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: start;
  justify-content: space-between;
  padding: 70px 20px 10px;
}
.content__copy {
  width: 100%;
}
.content__copy {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 30px;
}
.content__copy .content__wrapper {
  padding-right: 40px;
}
.content__copy ul li {
  cursor: pointer;
  padding-block: 2px;
  transition: all .1s;
  opacity: .7;
}
.content__copy ul li:hover {
  opacity: 1;
}

.copy__container .content__copy ul {
  list-style: none;
}
.copy__container .icons__copy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.copy__container .icons__copy > * {
  background: #83797982;
  border-radius: 50%;
  padding: 8px;
  font-size: 2.2rem;
  transition: all .2s;
  cursor: pointer;
}

.copy__container .icons__copy > *:hover {
  background-color: transparent;
}
.more__copy {
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-top: 1px solid #83797982;
  padding: 20px;
  padding-top: 40px;
}
.more__copy .link__copy {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.more__copy .link__copy *{ 
  color: white;
  font-size: 15px;
  padding-right: 10px;
  opacity: .8;
}

.more__copy .link__copy *:hover { 
  opacity: 1;
}
