.navbar__container {
  height: calc(100vh - var(--footer-height) );
  color: white;
  position: relative;
  /* overflow-y: overlay; */
  flex: 0.2;
  min-width: 230px;
  margin: 10px ;
}
.navbar__container > * {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #27302a;
}
.navbar__container .menu__navbar__container {
  height: 15%;
}

.navbar__container .playlist__container{
  height: 85%;
  overflow-y: overlay;
}

.navbar__container .playlist__container::-webkit-scrollbar {
  display: none;
}

.navbar__container .image__container {
  width: 100%;
}

.navbar__container .image__container img {
  width: 100%;
  max-width: 200px;
}

.playlist__container .Title__playlist {
  font-weight: 100;
  border-bottom: 1px solid #777;
}
