
.navbar__container {
  height: calc(100vh - var(--footer-height));
  position: relative;
  color: white;
  position: relative;
  flex: 0.2;
  min-width: 380px;
  margin: 10px 0px;
}
.navbar__container > * {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--dark-green);
}
.navbar__container .menu__navbar__container {
  height: 15%;
}

.navbar__container .playlist__container {
  height: 84%;
  overflow-y: overlay;
}

.navbar__container .playlist__container::-webkit-scrollbar {
  display: none;
}

.navbar__container .image__container {
  width: 100%;
}

.navbar__container .image__container img {
  width: 100%;
  max-width: 200px;
}

.playlist__container .title__playlist {
  font-weight: 100;
  position: sticky;
  top: -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid #777;
  left: 0;
  z-index: 4;
  background: var(--dark-green);
}
.playlist__container .title__playlist .icon__title > *{
  font-size: 31px;
  margin-left: 10px;
  cursor: pointer;
}
