.discover__weekly > * {
  padding: 0px 20px;
}
.discover__weekly__album {
  display: flex;
  align-items: start;
  color: #fff;
  cursor: pointer;
  gap: 20px;
  height: 100%;
  background: linear-gradient(transparent, #27302a);
}

/* rest the container */
.discover__weekly__songs  {
  padding: 0;
}
.discover__weekly__icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  padding: 50px 30px;
  background: linear-gradient( #27302a, transparent);
  cursor: pointer;
}
.discover__weekly__album img {
  height: calc(100px + 10vw);
  width: calc(100px + 10vw);
  object-fit: contain;
}

.discover__weekly__album p {
  font-size: 16px;
  margin: 10px;
  text-align: left;
}
.discover__weekly__icons > * {
  font-weight: bold;
  transform: scale(1.9);
}

.songRow {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  color: white;
}


.songRow:hover {
  cursor: pointer;
  background-color: #332e2e;
  opacity: 0.8;
}

.songRow__info {
  margin-left: 20px;
}

.songRow__info>h1 {
  font-size: 16px;
}

.songRow__info>p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}

.songRow__album {
  height: 40px;
  width: 40px;
}
